@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap');
*{    margin: 0;
    list-style: none;
    padding: 0;}

.clearfix{
    clear: both;
}

.container {
    font-family: 'Kanit', serif !important;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.nav-grid{
    display: grid;
    grid-template-columns: 140px 1fr;
}
ul.menu{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top:2% ;
}

.menubar{
    width: 100%;
    height: 60px;
    background: #333333;
    box-shadow: 0 0 10px #d6d6d6;
}
.menubar .logo{
    float: left;
    padding-top: 10px;
    
}
.menubar h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}
.menubar ul.menu li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;}
    @media only screen and (max-width: 768px) {
        .menubar{
            height: auto;
            padding:3% ;
            width: 94%;
        }
        .nav-grid{
            text-align: center;
           grid-template-columns: 1fr;
        }
        .menubar ul.menu li{
            padding:0.5rem;
            height: 2.5rem;
        }
        .header_area h1 {
            font-size: 3rem;
        }
        .header_area p {
            font-size: 1.15rem;
        }
        .info1_area{
            grid-template-columns:1fr;
            justify-items: center;
            padding: 20px;
        }
        .info1_area img{
            margin: 0;
            width: 65%;
        }
        .info1_area .info1_text {
            margin:10px auto;
            height: auto;
            float: none;
            text-align: center;   
        }
        .info2_area{
            grid-template-columns:1fr;
            justify-items: center;
            padding: 30px;
        }
        .info2_area img{
            float: none;
            margin: 0;
            width: 65%;
        }
        .info2_area .info2_text {
            margin:auto;
            height: auto;
            float: none;
            text-align: center;   
        }
        .contact_area{
            
            text-align: center;
            font-size: 1.25rem;
        }
        .contact_area h1{
            font-size: 2rem;
            margin:20px auto;
        }
        footer p{
            justify-items: center;
            margin: 10px auto;
        }
        
    }
    
    @media only screen and (max-width: 480px) {
        .menubar{
            height: auto;
            padding:3% ;
            width: 94%;
        }
        .nav-grid{
            text-align: center;
           grid-template-columns: 1fr;
        }
        ul.menu{
            grid-template-columns: 1fr;
        }
        .menubar ul.menu li{
            padding:0.5rem;
            height: 2.5rem;
        }
        .menubar ul.menu li a {
            transition:none;
            
        }
        .menubar ul.menu li a:hover {
            transition:  0.6s;
            border: none;
            color: #0a9de0;
        }
        .header_area h1 {
            
            font-size: 2.0rem;
        }
        .header_area p {
            font-size: 1rem;
        }
        .info1_area{
            grid-template-columns:1fr;
            justify-items: center;
            padding: 20px;
        }
        .info1_area img{
            margin: 0;
            width: 65%;
        }
        .info1_area .info1_text {
            margin:auto;
            height: auto;
            float: none;
            text-align: center;   
        }
        .info2_area{
            grid-template-columns:1fr;
            justify-items: center;
            padding: 30px;
        }
        .info2_area img{
            float: none;
            margin: 0;
            width: 65%;
        }
        .info2_area .info2_text {
            margin:auto;
            height: auto;
            float: none;
            text-align: center;   
        }
        .contact_area{
            text-align: center;
            font-size: 1.25rem;
            
        }
        .contact_area h1{
            font-size: 2rem;
        }
        .contact_area input{
            width: 80%;
        }
        .contact_area textarea{width: 320px;}
        footer {
            width: 89%;
        }
        footer p{
            justify-items: center;
            margin: 10px auto;
        }
    }